<div class="row">
	<div class="column grid_4">
		<h2>RabbitMQ Beispiele</h2>

		<ul>
			<li><%= link_to "Queue", :action => :queue %></li>
			<li><%= link_to "Topic", :action => :topic %></li>
			<li><%= link_to "Fanout", :action => :fanout %></li>
		</ul>
	</div>
</div>